/* ======================= MAIN ======================= */
.content {
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 1000px) {
            flex-direction: column-reverse;
        }
    }

    &-left {
        flex: 1 1 936px;
        margin-right: 24px;

        @media (max-width: 1000px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &-right {
        position: sticky;
        top: 0;
        right: 0;
        flex: 0 0 264px;

        @media (max-width: 1000px) {
            flex: 0 0 auto;
            width: 100%;
        }
    }
}

.change {
    @include section-bg;

    @media (max-width: 1000px) {
        margin-bottom: 25px;
    }

    &__list {
        @media (max-width: 1000px) {
            display: flex;
            overflow: auto;
        }
    }

    &__item {
        line-height: 26px;

        &:not(:last-child) {
            border-bottom: 1px solid #dbdcde;
        }

        @media (max-width: 1000px) {
            flex: 0 0 200px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 12px 18px 12px 42px;
        outline: none;

        @include transition;

        @media (min-width: $md3+px) {
            &:hover,
            &:focus {
                background-color: #dbdcde;
            }
        }

        @media (max-width: 1000px) {
            white-space: nowrap;
        }

        &--active {
            background-color: #dbdcde;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 16px;
        width: 18px;
        height: 18px;
        transform: translateY(-50%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.donation {
    margin-bottom: 24px;

    @include section-bg;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 22px 29px 27px 32px;
        border-bottom: 1px solid #dbdcde;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        &-left {
            @media (max-width: 500px) {
                margin-bottom: 20px;
            }
        }

        &-title {
            position: relative;
            display: inline-block;
            padding-left: 26px;
            margin-bottom: 7px;
            font-size: 14px;
            line-height: 20px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                width: 18px;
                height: 18px;
                content: "";
                background: url(../img/icons/dollar-sign.svg) center center/cover no-repeat;
                transform: translateY(-50%);
            }
        }

        &-exchange {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            line-height: 26px;
            color: #6c6d6f;
            white-space: nowrap;

            span {
                margin-right: 10px;
                font-size: 24px;
                line-height: 24px;
                color: #00a651;

                @media (max-width: 500px) {
                    font-size: inherit;
                }
            }
        }

        &-id {
            display: inline-block;
            margin-bottom: 4px;
            font-family: $fontFamilySecondary;
            line-height: 20px;
        }

        &-code {
            font-family: $fontFamilySecondary;
            line-height: 24px;
        }

        &-btn {
            width: 18px;
            height: 18px;
            cursor: pointer;
            background-color: transparent;
            border: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 16px 0 1px;

        &-col {
            flex-basis: auto;
            padding: 0 32px;
            margin-bottom: 15px;

            &:not(:last-child) {
                border-right: 1px solid #d7d8da;
            }
        }

        &-title {
            display: block;
            margin-bottom: 2px;
            font-size: 14px;
            line-height: 20px;
            color: #6c6d6f;
        }

        &-success {
            position: relative;
            padding-left: 26px;
            line-height: 21px;
            color: #00a651;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                width: 18px;
                height: 18px;
                content: "";
                background: #00a651 url(../img/icons/check.svg) center center no-repeat;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }

        &-link {
            line-height: 21px;
            color: #6665dd;
            text-decoration-line: underline;
            outline: none;

            @include transition;

            @media (min-width: $md3+px) {
                &:hover,
                &:focus {
                    color: #00a651;
                    text-decoration: none;
                }
            }
        }
    }
}

.tabs {
    padding: 31px 0 0;

    @include section-bg;

    &-trigers {
        padding: 0 40px 0 23px;
        border-bottom: 1px solid #dbdcde;

        &__list {
            display: flex;
            align-items: center;
            overflow-x: auto;
        }

        &__item {
            &-btn {
                padding: 14px 15px 10px;
                font-size: 12px;
                font-weight: $fw-semiBold;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                white-space: nowrap;
                cursor: pointer;
                background: #fff;
                border: 1px solid transparent;
                border-radius: 6px 6px 0 0;
                outline: none;

                @include transition;

                @media (min-width: $md3+px) {
                    &:hover,
                    &:focus {
                        color: #00a651;
                        border: 1px solid #dbdcde;
                        border-bottom: 1px solid #fff;
                    }
                }

                &--active {
                    color: #00a651;
                    border: 1px solid #dbdcde;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }

    &-content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-btns {
        padding: 23px 32px 13px;
        background: #fffbec;
        border-top: 1px solid #dbdcde;
        border-end-start-radius: 8px;
        border-end-end-radius: 8px;

        &__btn {
            padding: 12px 23px;
            margin-bottom: 10px;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
            border: none;
            border-radius: 6px;
            outline: none;

            @include transition;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &--primery {
                color: #fff;
                background-color: #2eb670;
                border: 1px solid #2eb670;

                @media (min-width: $md3+px) {
                    &:hover,
                    &:focus {
                        background-color: darken(#2eb670, 5%);
                    }
                }
            }

            &--secondary {
                color: #2f2f30;
                background-color: transparent;
                border: 1px solid #a9abae;

                @media (min-width: $md3+px) {
                    &:hover,
                    &:focus {
                        color: #2eb670;
                        border: 1px solid #2eb670;
                    }
                }
            }
        }
    }
}

.content-form {
    padding: 0 40px 0 23px;

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        @media (max-width: 530px) {
            flex-direction: column;
            align-items: start;
        }

        &--setting {
            align-items: start;
        }
    }

    &__label {
        flex: 0 0 160px;
        margin-right: 16px;
        line-height: 24px;
        text-align: right;

        @media (max-width: 530px) {
            flex-basis: auto;
            margin-bottom: 15px;
        }
    }

    &__sublabel {
        position: relative;
        padding-left: 31px;
        line-height: 23px;
        text-align: left;

        @include transition;

        @media (min-width: $md3+px) {
            &:hover,
            &:focus {
                color: #2eb670;
            }

            &:hover .content-form__radio-style,
            &:focus .content-form__radio-style {
                border-color: #2eb670;
            }
        }
    }

    &__inner {
        display: flex;
        flex: 0 1 296px;

        @media (max-width: 900px) {
            flex-direction: column;
        }

        @media (max-width: 530px) {
            flex-basis: auto;
        }
    }

    &__select,
    &__input {
        line-height: 24px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #a9abae;
        border-radius: 6px;

        @media (max-width: 900px) {
            flex-basis: auto;
        }
    }

    &__select {
        flex: 0 1 296px;
        padding: 8px 7px;

        &--curency {
            flex: 0 0 80px;

            @media (max-width: 900px) {
                width: fit-content;
            }
        }
    }

    &__input {
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 192px;
        padding: 8px 11px;
        margin-right: 24px;

        @media (max-width: 900px) {
            margin-bottom: 15px;
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
        margin-bottom: 9px;
    }

    &__radio {
        appearance: none;

        &-btns {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }

        &-style {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border: 1px solid #a9abae;
            border-radius: 50%;

            @include transition;
        }

        &:checked + &-style {
            border: 1px solid #2eb670;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                content: "";
                background: #2eb670;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__checkbox {
        appearance: none;

        &-btns {
            display: flex;
            flex-direction: column;
        }

        &-style {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border: 2px solid #a9abae;
            border-radius: 4px;
        }

        &:checked + &-style {
            border: 2px solid #2eb670;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                content: "";
                background: url(../img/icons/check-checkbox.svg) center center/cover no-repeat;
                transform: translate(-50%, -50%);
            }
        }

        &:focus + &-style {
            border-color: #2eb670;
        }
    }

    &--radio,
    &--checkbox {
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__range {
        flex: 0 1 218px;
        appearance: none;
        height: 3px;
        margin-right: 16px;
        cursor: pointer;
        background: #dbdcde;
        border-radius: 8px;
        outline: none;
        opacity: 0.7;

        @include transition;

        @media (min-width: $md3+px) {
            &:hover,
            &:focus {
                opacity: 1;
            }
        }

        @media (max-width: 530px) {
            flex-basis: auto;
            width: 100%;
            margin-bottom: 10px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            width: 19px;
            height: 19px;
            background: #2eb670;
            border-radius: 50%;
        }
    }
}
